<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CSCI4927_Gainers.styles.css" asp-append-version="true" />
</head>
<style>
    body {
        background-image: url('images/Squat.jpg'), url('images/Hangclean.jpg');
        background-position: left top, right top;
        background-repeat: no-repeat;
        background-size: 50%, 50%;
    }
</style>
</style>
<body>
    <header>
        <nav>
            <div class="navButtonHolder">
                <a asp-action="Index" asp-controller="Profile"><span class="navButton"><i class="far fa-user fa-3x navIcon" style="color:black;"></i></span></a>
            </div>
            <div id="logoHolder">
                <a asp-action="Index" asp-controller="Home"><img id="logo" src="https://i.imgur.com/e4RuF4J.png"></a>
            </div>
            <div class="navButtonHolder">
                <a asp-action="Index" asp-controller="Messages"><span class="navButton"><i class="far fa-comments fa-3x navIcon" style="color:black;"></i></span></a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<style>
    .centered-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px; /* adjust the height as needed */
        background-color: #f2f2f2; /* add a background color for visibility */
    }

        .centered-footer img {
            height: 20px; /* adjust the image height as needed */
            margin: 0 5px; /* add some margin around the images */
        }
</style>

<footer class="centered-footer">
    <img src="~/images/Squat.jpg" alt="Before Image" style="height: 100%">
    <p>&copy; Gainer</p>
    <img src="~/images/Hangclean.jpg" alt="After Image" style="height: 100%">
</footer>

</html>
