@model CSCI4927_Gainers.Models.Entities.Message

@{
    ViewData["Title"] = "Gainer - Messages";
}

    <nav class="secondaryNav">
        <div class="otherMatchesHolder">
            <span class="otherMatchesText">View other matches</span>
            <button class="matchesButton">Matches</button>
        </div>
    </nav>
    <div id="matchesMainContent">
        <div id="matchesTableHolder">
            <table>
                <tbody>
                    <tr>
                        <td><i class="far fa-user fa-3x navIcon"></i></td>
                        <td><button type="button" class="btn btn-outline-secondary" style="background-color:#ffcba4;">John Doe</button></td>
                        <td><button type="button" class="btn btn-primary" style="background-color:#cfe4ff; color:black;">Send Messages</button></td>
                    </tr>
                    <tr>
                        <td><i class="far fa-user fa-3x navIcon"></i></td>
                        <td><button type="button" class="btn btn-outline-secondary " style="background-color:#ffcba4;">Alice Johnson</button></td>
                        <td><button type="button" class="btn btn-primary" style="background-color:#cfe4ff; color:black;">Send Messages</button></td>
                    </tr>
                    <tr>
                        <td><i class="far fa-user fa-3x navIcon"></i></td>
                        <td><button type="button" class="btn btn-outline-secondary " style="background-color:#ffcba4;">David Smith</button></td>
                        <td><button type="button" class="btn btn-primary" style="background-color:#cfe4ff; color:black;">Send Messages</button></td>
                    </tr>
                    <tr>
                        <td><i class="far fa-user fa-3x navIcon"></i></td>
                        <td><button type="button" class="btn btn-outline-secondary " style="background-color:#ffcba4;">Karen Johnson</button></td>
                        <td><button type="button" class="btn btn-primary" style="background-color:#cfe4ff; color:black;">Send Messages</button></td>
                    </tr>
                    <tr>
                        <td><i class="far fa-user fa-3x navIcon"></i></td>
                        <td><button type="button" class="btn btn-outline-secondary " style="background-color:#ffcba4;">Brian Wilson</button></td>
                        <td><button type="button" class="btn btn-primary" style="background-color:#cfe4ff; color:black;">Send Messages</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
