@{
    ViewData["Title"] = "Gainer - Welcome";
}

<div class="card" style="width:20rem;margin-left:auto;margin-right:auto;margin-top:100px;">
  <h5 class="card-header">Welcome to Gainer!</h5>
  <div class="card-body" style="text-align:center;">
    <a asp-action="Login" class="btn btn-primary">Login</a>
    <a asp-action="Register" class="btn btn-success">Register</a>
  </div>
</div>