@model CSCI4927_Gainers.Models.Entities.User

@{
    ViewData["Title"] = "Gainer - Register";
}

<!--<div class="row register-form">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePictureUrl" class="control-label"></label>
                <input asp-for="ProfilePictureUrl" class="form-control" />
                <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Squats" class="control-label"></label>
                <input asp-for="Squats" class="form-control" />
                <span asp-validation-for="Squats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bench" class="control-label"></label>
                <input asp-for="Bench" class="form-control" />
                <span asp-validation-for="Bench" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadlift" class="control-label"></label>
                <input asp-for="Deadlift" class="form-control" />
                <span asp-validation-for="Deadlift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
-->

<form asp-action="Register">
  <div class="form-row align-items-center register-form">
    <h3 style="font-family:'Inter';font-weight:600;text-align:center;">Create Account</h3>
    <div class="col-auto">
      <label class="sr-only" asp-for="FirstName">First name</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-user"></i></div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="First Name" asp-for="FirstName">
      </div>
    </div>
    <div class="col-auto">
        <label class="sr-only" asp-for="LastName">Last name</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user"></i></div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Last Name" asp-for="LastName">
        </div>
    </div>
    <div class="col-auto">
        <label class="sr-only" asp-for="Email">Email</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-envelope"></i></div>
            </div>
            <input type="email" class="form-control" id="inlineFormInputGroup" placeholder="Email" asp-for="Email">
        </div>
    </div>
    <div class="col-auto">
        <label class="sr-only" asp-for="Password">Password</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-key"></i></div>
            </div>
            <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password" asp-for="Password">
        </div>
    </div>
    <div class="col-auto">
        <label class="sr-only" asp-for="ProfilePictureUrl">Profile Picture URL</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-portrait"></i></div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Profile Picture URL" asp-for="ProfilePictureUrl">
        </div>
    </div>
    <div class="col-auto">
        <label class="sr-only" asp-for="Squats">Squats</label>
        <div class="input-group mb-2 small-input">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-dumbbell"></i></div>
            </div>
            <input type="number" class="form-control" id="inlineFormInputGroup" placeholder="Squats" asp-for="Squats">
        </div>
    </div>
    <div class="col-auto">
        <label class="sr-only" asp-for="Bench">Bench</label>
        <div class="input-group mb-2 small-input">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-dumbbell"></i></div>
            </div>
            <input type="number" class="form-control small-input" id="inlineFormInputGroup" placeholder="Bench" asp-for="Bench">
        </div>
    </div>
    <div class="col-auto">
        <label class="sr-only" asp-for="Deadlift">Deadlift</label>
        <div class="input-group mb-2 small-input">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-dumbbell"></i></div>
            </div>
            <input type="number" class="form-control" id="inlineFormInputGroup" placeholder="Deadlift" asp-for="Deadlift">
        </div>
    </div>
    <div class="col-auto">
        <label class="sr-only" asp-for="Bio">Bio</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-list"></i></div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Bio" asp-for="Bio">
        </div>
    </div>
    <div class="col-auto" style="text-align:center;">
      <button type="submit" value="Create" class="btn btn-success mb-2">Register</button>
    </div>
  </div>
</form>

