@{
    ViewData["Title"] = "Gainer - Home";
}

<div id="homeMainContent">
    <div id="profilePictureHolder">
        <img class="largeProfilePicture" id="homeLargeProfilePicture" src="images/placeholder.png">
    </div>
</div>

<div id="homeButtonMenu">
    <button type="button" class="btn btn-danger homeButtonOption">No</button>
    <button type="button" class="btn btn-success homeButtonOption">Yes</button>
</div>