html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav {
    background-color: rgb(106, 171, 255);
    padding: 10px;
    text-align: center;
}

.navButtonHolder {
    display: inline-block;
    width: 33%;
}

.navIcon {
    vertical-align: middle;
}

#logoHolder {
    display: inline-block;
    width: 33%;
}

#logo {
    height: 100px;
    width: 300px;
}

#homeMainContent {
    background-color: rgb(42, 134, 255);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 500px;
}

#matchesMainContent {
    background-color: rgb(42, 134, 255);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
#matchesMainContent {
    background-color: rgb(42, 134, 255);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}


#matchesTableHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 134, 255);
    width: 500px;
    max-width: 100%;
}
.profileNav {
    background-color: #ffcba4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondaryNav {
    background-color: #cfe4ff;
    display: flex;
    justify-content: center;
    align-items: center;
}



#matchesTableHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 134, 255);
    width: 500px;
    max-width: 100%;
}

#profilePictureHolder {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.largeProfilePicture {
    width: 250px;
    height: 250px;
}

#homeLargeProfilePicture {
    margin-top: 100px;
}

#homeButtonMenu {
    background-color: peachpuff;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    width: 500px;
}

.homeButtonOption {
    width: 100px;
}

    .homeButtonOption:not(:first-child) {
        margin-left: 100px;
    }
